body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #833ab4ad,
            #fd1d1db4, #fcb045b6);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: whitesmoke;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

p {
    margin-bottom: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(70px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type="file"] {
    margin-bottom: 10px;
    transform: scale(1);
    transition: transform 0.3s ease;
    padding: 20px 40px;
    background-color: white;
    border: 2px dotted black;
}

input[type="file"]:hover {
    transform: scale(1.05);
}

input[type="file"]:focus {
    filter: blur(5px);
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

option {
    padding: 5px;
    transition: all 0.3s ease;
}

option:hover {
    transform: scale(1.05);
}

option:hover span {
    animation: textMove 1s linear infinite;
}

@keyframes textMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

/* .custom-select option {
    transition: transform 0.3s ease-in-out;
} */

.custom-select option:hover {
    background-color: #0058fc;
    color: #333;
    transform: translateX(10px);
    cursor: pointer;
}