<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for month, files in file_groups.items %}
    <h2>{{ month }}</h2>
    {% for file in files %}
    <h3>{{ file.file.name }}</h3>
    <table>
        <thead>
            <tr>
                {% for column_name in file.data.columns %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in file.data.values %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% endfor %}

</body>

</html>