{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard for Azure</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="imgage/png" href="favicon.png">
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .button-container button {
            margin: 0 10px;
            background-color: lightblue;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            color: black;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">Dashboard for Azure</h1>
        <form method="post" enctype="multipart/form-data" id="my-form">
            {% csrf_token %}
            <input type="file" name="files" multiple>
            <button type="submit">Upload | Graph</button>
        </form>
        <p>Choose Method</p>
        <div class="button-container">
            <a href="{% url 'line_graph' 'January' 'December' 'Category' 'Resource Group Name' %}"><button>Line
                    Graph</button></a>
        </div>
    </div>

</body>

</html>