{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1 id="loading-indicator" class="loading">Loading...</h1>
    <form method="post" enctype="multipart/form-data" id="my-form">
        {% csrf_token %}
        <input type="file" name="files" multiple>
        <p>Select the Usage Start Date:</p>
        <select name="month1" class="custom-select">
            <option value="" disabled selected>None</option>
            {% for month in months %}
            <option value="{{ month }}"><span>{{ month }}</span></option>
            {% endfor %}
        </select>

        <p>Select the Usage End Date:</p>
        <select name="month2" class="custom-select">
            <option value="" disabled selected>None</option>
            {% for month in months %}
            <option value="{{ month }}"><span>{{ month }}</span></option>
            {% endfor %}
        </select>

        <p>Select the Field:</p>
        <select name="field" class="custom-select">
            <option value="Meter Name">Meter Name</option>
            <option value="Resource Group Name">Resource Group Name</option>
            <option value="Category">Category</option>
            <option value="Subcategory">Subcategory</option>
            <option value="Location">Location</option>
        </select>

        <p>Select the Parameter:</p>
        <select name="field2" class="custom-select">
            <option value="Meter Name">Meter Name</option>
            <option value="Resource Group Name">Resource Group Name</option>
            <option value="Category">Category</option>
            <option value="Subcategory">Subcategory</option>
            <option value="Location">Location</option>
        </select>
        <button type="submit">Upload | Graph</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on({
                ajaxStart: function () {
                    // Show the loading indicator when an AJAX request starts
                    $('#loading-indicator').show();
                },
                ajaxStop: function () {
                    // Hide the loading indicator when all AJAX requests are complete
                    $('#loading-indicator').hide();
                }
            });
        });

        $(document).on('submit', '#my-form', function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            // Serialize the form data
            var formData = $(this).serialize();

            var currentURL = window.location.href;

            // Send an AJAX POST request to the server
            $.post(currentURL, formData, function (response) {
                // Handle the server response
                var dynamicURL = currentURL;
                window.location.href = dynamicURL;
            });
        });
    </script>
</body>

</html>